.cmp-subheader-wrapper {
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--backdrop1);
	backdrop-filter: var(--blur);
	border-radius: 1em;
    padding: .5em;
	width: 60%;
	justify-self: center;
}

.cmp-subheader-prod {
	display: flex;
	align-items: center;
	font-family: 'Q-SemiBold';
	font-size: 1.5em;
	color: var(--text);
	gap: .5em;
}
