.cmp-burger-wrapper {
	opacity: 1;
	width: 46px;
	height: 46px;
	cursor: pointer;
	position: relative;
	background-color: transparent;
}
.cmp-burger-wrapper:hover {
	& .cmp-burger,
	.cmp-burger::after,
	.cmp-burger::before {
		background-color: white;
	}
}
.cmp-burger-wrapper .cmp-burger {
	position: absolute;
	transform: translate(-50%, 50%);
	left: 50%;
	bottom: 50%;
	width: 30px;
	height: 4px;
	background-color: var(--primary);
	border: none;
}
.cmp-burger::after {
	content: '';
	width: 30px;
	height: 4px;
	position: absolute;
	bottom: 10px;
	right: 0%;
	background-color: var(--primary);
	border: none;
}

.cmp-burger::before {
	content: '';
	width: 30px;
	height: 4px;
	position: absolute;
	bottom: -10px;
	right: 0%;
	background-color: var(--primary);
	border: none;
}
