.cmp-navh-content {
	display: flex;
	justify-content: space-between;
}
.cmp-navh-section {
	display: flex;
	gap: 1.5em;
	height: calc(100% + 2px);
}
.navlink {
	text-decoration: none;
	color: var(--primary1);
	padding: 0.5em;
	border-radius: 0.5em;
	user-select: none;
}
.navlink_border {
	border: 1px solid rgb(0, 132, 255);
}
/* Текущая ссылка активна + наведение на ссылку */
.navlink.active,
.navlink:hover {
	color: rgb(0, 132, 255);
	background-color: white;
	border: none;
}
/* Нажатие на ссылку */
.navlink:active {
	filter: brightness(0.8);
}
