.list-card {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	background-color: rgb(104, 104, 104);
	width: 50%;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}

.card {
	display: flex;
	flex-direction: column;
	width: calc(100% / 2 - 8px);
	min-height: 200px;
	padding: 16px;
	border: 1px solid white;
	border-radius: 16px;
	background-color: #0a1128;
	transition-duration: 3s;
	transition-timing-function: ease;
	transition-property: background-color;
}

.card:hover{
	background-color: #5a53c3;
}

.card-text {
}

.card-btn {
}
