:root {
	--www: 350px;
	--hhh: 350px;
}

.cmp-item-company {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
	color: var(--background);
}

.cmp-item-company-content {
	display: flex;
	width: 100%;
	border-radius: 8px;
	padding: 4px 8px;
	gap: 8px;
	color: var(--primary1);
	background-color:var(--primary5);
}

.cmp-item-company-pc {
	position: relative;
	display: flex;
	align-items: center;
	padding-inline: 8px;
	flex-direction: column;
	width: 100%;
	border-radius: 8px;
}
.cmp-item-company-pc-content {
	justify-content: center;
	background-color: transparent;
}

.cmp-item-company-bld {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	font-size: 14px;
	align-items: center;
}

.cmp-item-company-bld-content {
	display: flex;
	flex-direction: column;
	width: calc((var(--www) - 1 * 8px) / 4 - 3 * 8px);
	height: calc((var(--hhh) - 1 * 8px) / 4 - 3 * 8px);
	background-color: rgb(226, 70, 70);
	border-radius: 8px;
}
