.cmp-item-company {
	display: flex;
	flex-direction: column;
	/* font-size:smaller; */
	color: rgb(11, 25, 107);
	align-items: center;
	gap: 8px;
}

.cmp-item-company-content {
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
	gap: 8px;
	width: calc(300px - 2 * 8px);
	height: calc(300px - 2 * 8px);
	border-radius: 8px;
	background-color: rgb(230, 230, 230);
	color: white;
}

.cmp-item-company-pc {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc((300px - 1 * 8px) / 2 - 1 * 8px);
	height: calc((300px - 1 * 8px) / 2 - 1 * 8px);
	background-color: rgba(0, 0, 0, 0.55);
	border-radius: 8px;
	& span {
		/* position: absolute; */
		
	}
}
.cmp-item-company-pc-content {
	width: calc((300px - 1 * 8px) / 2 - 5 * 8px);
	height: calc((300px - 1 * 8px) / 2 - 6 * 8px);
	background-color: rgb(6, 129, 181);
}

.cmp-item-company-bld {
	display: flex;
	flex-direction: column;
	width: calc((300px - 1 * 8px) / 4 - 3 * 8px);
	height: calc((300px - 1 * 8px) / 4 - 3 * 8px);
	background-color: rgb(148, 124, 26);
	border-radius: 8px;

}