.mes {
	border: 1px solid var(--primary);
	color: var(--primary);
	font-size: var(--fsz24);
	line-height: var(--fsz28);
	border-radius: var(--br);
	align-self: center;
	padding: 5px;
	text-align: center;

	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;	
	padding-inline: 30px;

	min-width: 40%;
	/* max-width: fit-content; */
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.act {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    cursor: pointer;
}

.mes-container {
    position: relative;
	align-items: center;
    display: flex;
    min-width: 40%;
}

.all {
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    background-color: var(--background);
    padding: clamp(0.625rem, 0.625rem + 0vw, 0.625rem) clamp(1.3125rem, -0.0745rem + 1.6245vw, 1.875rem);
    border-radius: 10px;
    border: var(--brdS);
    font-size: var(--fsz24);
    line-height: clamp(1.9375rem, -0.0659rem + 2.3466vw, 2.75rem);
    z-index: 1;
}
