.cmp-weather7d {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	color: var(--primary);
	font-size: var(--fsz18);
}
.cmp-weather7d > h1 {
	font-size: var(--fsz20);
}
.cmp-weather7d-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 20px 16px;
	width: calc(4 * 230px + 3 * 16px);
}
.cmp-weather7d-day {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
	width: 230px;
}
.cmp-weather7d-day-content {
	display: flex;
	border-radius: 16px;
	padding: 8px;
	justify-content: space-between;
	background-color: #65a7ee29;
}

.cmp-weather7d-day-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}
