:root {
	--w-owner-pad32: clamp(2rem, 0.9583rem + 1.3889vw, 2.625rem);
	--w-owner-pad20: clamp(1.25rem, 0.2083rem + 1.3889vw, 1.875rem);
	--w-owner-gap: clamp(0.625rem, -0.4167rem + 1.3889vw, 1.25rem);
}
.cmp-outdoor-owner {
	display: flex;
    width: 100%;
    align-items: center;
    padding: .5em;
	border-radius: 1em;
}

.cmp-outdoor-owner-left {
	display: flex;
    width: 60%;
	flex-direction: column;
}

.cmp-outdoor-owner-code {
	font-size: var(--fsz50);
    width: 100%;
}

.cmp-outdoor-owner-client {
	font-size: var(--fsz20);
}
