.cmp-navh {
	display: flex;
	gap: 1em;
}

.navlink {
	text-decoration: none;
	color: var(--primary1);
	padding: 0.5em;
	border-radius: 0.5em;
	user-select: none;
}
.navlink_border {
	border: 1px solid  rgb(0, 132, 255);
}
/* Текущая страница */
.navlink.active {
	color: rgb(0, 132, 255);
	background-color: rgb(255, 255, 255);
	border: none;
}
.navlink:hover {
	color: rgb(0, 132, 255);
}
.navlink:active {
	filter: brightness(0.8);
}
