.cmp-menunav-wrapper {
	grid-area: 3/2/3/2;
	display: flex;
	position: relative;
}

.cmp-menunav-section {
	display: flex;
	height: 50px;
	width: 60%;
	padding: 5px;
	justify-content: space-between;
	border-radius: 50px;
	background-color: var(--backdrop1);
	backdrop-filter: var(--blur);
	position: absolute;
	/* top: 1.5em; */
	left: 50%;
	transform: translateX(-50%);
}

/* navlink */
.cmp-menunav-navlink {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-inline: 1em;
	border-radius: 50px;
	color: var(--text);
	font-size: 1.5em;
	/* width: 150px; */
	& > img{
		padding: 2px;
	}
}
.cmp-menunav-active {
	background-color: var(--clickBg);
}
