.cmp_fields_btn {
	padding: 1em;
	border: none;
	border-radius: 0.5rem;
	color: white;
	font-size: 1em;
	background: -webkit-linear-gradient(
		120deg,
		#4e22b4,
		#007bbd,
		#38b3ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		120deg,
		#4e22b4,
		#007bbd,
		#38b3ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
	cursor: pointer;
}
