:root {
	--h-weather: clamp(12rem, 3rem + 11.1111vw, 17rem);
	--h-section: calc(100vh - var(--h-weather) - 140px);
}
.build {
	height: calc(100% - 100px);
	display: grid;
	grid-template-columns: 1fr 65% 1fr;
	grid-template-rows: 60px var(--h-weather) var(--h-section);
	gap: 10px 40px;
	overflow: hidden;
	position: relative;
}

.build-backdrop {
	position: absolute;
	background-color: var(--backdrop);
	backdrop-filter: blur(var(--blur));
	top: 0;
	left: calc((100% - 70%) / 2);
	width: 70%;
	height: 70%;
	z-index: -1;
	border-radius: 1em;
}
