:root {
	--h-weather: clamp(12rem, 3rem + 11.1111vw, 17rem);
	--h-section: calc(100vh - var(--h-weather) - 140px);
}
.build {
	height: calc(100% - 100px);
	display: grid;
	grid-template-columns: 1fr 65% 1fr;
	grid-template-rows: auto var(--h-weather) var(--h-section);
	gap: 10px 40px;
	overflow: hidden;
}



/* v2 */
.build2 {
	height: calc(100% - 100px);
	display: grid;
	grid-template-columns: 1fr 65% 1fr;
	grid-template-rows: auto var(--h-weather) var(--h-section);
	gap: 10px 40px;
	overflow: hidden;
}

.build2-background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(3px);
}

.build2-wallpaper {
	background-image: url('/public/img/v2/angar1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
