:root {
	--h-weather: clamp(12rem, 3rem + 11.1111vw, 17rem);
	--h-section: calc(100vh - var(--h-weather) - 140px);
}
.build {
	display: grid;
	height: calc(100% - 100px);
	grid-template-columns: 1fr 70% 1fr;
	grid-template-rows: 1fr 70% 1fr;
	gap: 10px 40px;
	overflow: hidden;
	position: relative;
    margin: auto;
    /* background-color: var(--backdrop); */
	/* backdrop-filter: blur(var(--blur)); */
}

.build-backdrop {
    display:flex;
    grid-area: 2/2/2/2;
	background-color: var(--backdrop);
	backdrop-filter: blur(var(--blur));
	border-radius: 1em;

}
