body {
	margin: 0;
	color: #989898;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	/* background-image: linear-gradient(to bottom, #020917, #101725); */
}

.content {
	display: flex;
	min-height: 100vh;
	line-height: 1.1;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.content h1 {
	font-size: 3.6rem;
	font-weight: 700;
}

.content p {
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.5;
}

.back-img-type-bld {
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
}
.back-img-type-bld[data-img='normal'] {
	background-image: url('/public/img/type/normal.svg');
}
.back-img-type-bld[data-img='cold'] {
	background-image: url('/public/img/type/cold.svg');
}
.back-img-type-bld[data-img='combi'] {
	background-image: url('/public/img/type/combi.svg');
}
