.cmp-outdoor-forecast {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5em;
	border-radius: 1em;
}

.cmp-outdoor-forecast .adr {
	display: flex;
	align-items: center;
	font-size: 1em;
	gap: 1em;
	color: var(--text);
}

.cmp-outdoor-forecast .upd {
	text-align: right;
	font-size: 1em;
	color: var(--text2);
}

.cmp-outdoor-forecast .today {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	cursor: pointer;
}

.today > div:first-child {
	display: flex;
	flex-direction: column;
}

.today > div:first-child > span {
	text-align: right;
}
.today .temp {
	font-size: 2em;
}
.today .status {
	font-size: 1em;
}
.today img {
	width: 100px;
	height: 100px;
}
