/* Карточка секции ************************************* */
.section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 1em;
	padding: 0.5em;
	cursor: pointer;
	/* border: var(--brdS); */
    background-color: var(--clickBg);
	color: var(--text);
}

.sx1,
.sx2,
.sx3,
.sx4 {
	height: calc(100% / 2 - 0.25em - 1px);
	width: calc(100% / 2 - 0.25em - 1px);
}

.section-name {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	font-family: 'Q-SemiBold';
	font-size: 2em;
}
.section-mode {
	font-family: 'Q-Medium';
	font-size: 0.7em !important;
	color: var(--text2);
}
/* min, max tprd************************************* */
.section-sens {
	display: flex;
	gap: 0.5em;
}
.sensor-item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:var(--backdrop);
	padding: 0.5em;
	width: 50%;
	border-radius: 0.5em;
	white-space: nowrap;
	font-size: 1.5em;
}
/* Outher************************************* */
.section-vf {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.5em !important;
	& > span {
		font-size: 1.2em;
		color: var(--text2);
	}
}
.vf-evenly {
	justify-content: space-evenly;
}
/* Размер иконок клапанов и ВНО */
.vfx1,
.vfx2,
.vfx3,
.vfx4 {
	height: 3.7em !important;
}
/* ************************************* */
