.header {
	width: 100%;
	grid-area: 1/1/1/4;
	background-color: #245e67;
}
.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	grid-area: 2 / 2 / 2 / 2;
	background-color: #0a1148;
	height: 80vh;
}
.asidel {
	width: 100%;
	grid-area: 2 / 1 / 2 / 1;
	background-color: #0a1128;
}
.asider {
	width: 100%;
	grid-area: 2 / 3 / 2 / 3;
	background-color: #0a1168;
}
.footer {
	width: 100%;
	grid-area: 3 / 1 / 3 / 4;
	background-color: #5a53c3;
}

.list-card {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	background-color: rgb(104, 104, 104);
	width: 50%;
	gap: 16px;
	padding: 16px;
	margin: 16px 0;
}
.card {
	display: flex;
	flex-direction: column;
	width: calc(100% / 2 - 8px);
	min-height: 200px;
	padding: 16px;
	border: 1px solid white;
	border-radius: 16px;
	background-color: #0a1128;
	transition-duration: 3s;
	transition-timing-function: ease;
	transition-property: background-color;
}
.card:hover{
	background-color: #5a53c3;
}
.card-text {
}
.card-btn {
}
