:root {
	--h-weather: clamp(12rem, 3rem + 11.1111vw, 17rem);
	--h-section: calc(100vh - var(--h-weather) - 140px);
}
.build {
	display: grid;
	height: calc(100vh - 100px); /*100px высота header*/
	grid-template-columns: 1fr 75% 1fr;
	grid-template-rows: 50px calc(100vh - 100px - 50px - 116px - 2 * 2.5em) 100px;
	gap: 2.5em 2.5em;
	overflow: hidden;
	position: relative;
	margin: auto;
	/* background-color: var(--backdrop); */
}

.build-backdrop {
	display: flex;
	grid-area: 2/2/2/2;
	/* background-color: var(--backdrop); */
	backdrop-filter: var(--blur);
	border-radius: 16px;
}
