.page-login {
	display: flex;
	height: 100vh;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	justify-content: center;
}
.page-login-input {
	width: 180px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.189);
	border: none;
	color: white;
	padding: 8px;
}
.page-login-submit {
	width: 180px;
	height: 32px;
	border: none;
	background-color: rgba(255, 255, 255, 0.189);
	color: white;
	padding: 8px;
}
