:root {
	--primary: #192646;
	--secondary: #65a7ee;
	--background: white;
	--surface: #ededed;
	--onSurface: #1926469a;
	--br: 100px;
	--brdP: 1px solid var(--primary);
	--brdS: 1px solid var(--secondary);
	font-family: Q-Medium;
	color: var(--primary);
}
@font-face {
	font-family: Q-Medium;
	src: url("@font/Qanelas-Medium.ttf");
}
@font-face {
	font-family: Q-SemiBold;
	src: url("@font/Qanelas-SemiBold.ttf");
}
html body {
	min-width: 400px;
	height: 100vh;
	width: 100vw;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	background-image: linear-gradient(to bottom, #020917, #101725);
}



/* .content h1 {
	font-size: 3.6rem;
	font-weight: 700;
}

.content p {
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.5;
} */
