.cmp-outdoor-value {
	display: flex;
	flex-direction: column;
	border-radius: 0.5em;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	font-size: var(--fsz30);
	position: relative;
}

.cmp-outdoor-value-label {
	position: absolute;
	width: 100%;
	top: 0.6em;
	left: 0;
	text-align: center;
	font-size: var(--fsz16);
	color: var(--text2);
}

.cmp-outdoor-value-label.highlight {
	top: 0.2em;
	font-size: 0.7em;
	color: var(--text);
}

.cmp-outdoor-value > img {
	height: var(--fsz25);
	position: absolute;
	top: 1.4em;
}

/* accel */
.cmp-outdoor-value-label-accel {
	top: 1em;
}
