.cmp-outdoor-forecast {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: .5em;
	border-radius: 1em;
}

.cmp-outdoor-forecast .adr {
	display: flex;
	align-items: center;
	font-size: 1em;
	gap: 1em;
	color: var(--text1);
}

.cmp-outdoor-forecast .upd {
    text-align: right;
	font-size: 1em;
	color: var(--text1);
}

.cmp-outdoor-forecast .today {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fsz28);
	font-size: 1.7em;
	cursor: pointer;
}

.today > div:first-child {
	display: flex;
	flex-direction: column;
}

.today > div:first-child > span {
	text-align: right;
}
.today .temp {
	font-size: var(--fsz55);
}
.today .status {
	font-size: var(--fsz20);
}
.today img {
	width: 100px;
	height: 100px;
}
