/* 4x4 */
.cmp-outdoor {
	display: grid;
	width: 40%;
	position: relative;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5em 0.5em;
	overflow: hidden;
	padding: 0.5em;
	border-radius: 1em;
	color: var(--text);
}

.cmp-outdoor-out,
.cmp-outdoor-in {
	display: flex;
	justify-content: space-around;
	border-radius: 1em;
}
