.weather {
	border-radius: 20px;
	overflow: hidden;
}

.weather-owner {
	background-color: rgba(25, 38, 70, 0.5);
	width: 30%;
}
/* ************************** */
.weather-sens {
	width: 26%;
	box-sizing: border-box;
	padding: 1% 2%;
}

