.weather {
	border-radius: 1em;
	overflow: hidden;
	background-color: var(--backdrop);
	backdrop-filter: var(--blur);
}

.weather-owner {
	/* background-color: var(--backdrop); */
	/* backdrop-filter: var(--blur); */
	width: 30%;
}
/* ************************** */
.weather-sens {
	width: 26%;
	/* box-sizing: border-box; */
	/* padding: 1% 2%; */
}

.weather-middle {
	display: flex;
	/* background-color: var(--backdrop); */
	/* backdrop-filter: var(--blur); */
}
